.about__container {
    display: grid;
    grid-template-columns: 25% 30%;
    gap: 20%;
    justify-content: center;
    /* margin-right: 5rem;
    margin-left: 8rem; */
}
.about__me {
    margin-top: 2.5rem;
    width: 83%;
    height: 70%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(
        45deg, 
        transparent, 
        var(--color-main), 
        transparent
    );
    display: grid;
    place-items: center;
}
.upper__text {
    padding-top: 5rem;
}
.about__me-image {
    width: 20rem;
    border-radius: 2rem;
    overflow: hidden; 
    transform: rotate(10deg);
    transition: var(--transition); 
}
.about__me-image:hover {
    transform: rotate(0); 
}
.about__cards {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}
.about__card {
    background: var(--color-bg-other); 
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition); 
}
.about__card:hover {
    background: transparent;
    border-color: var(--color-main-other);
    cursor: default;
}
.about__icon {
    color: var(--color-main); 
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
.about__card h5 {
    font-size: 0.95rem;
}
.about__card small {
    font-size: 0.7rem;
    color: var(--color-bright);
}

.about__content p {
    margin: 2rem 0 2.6rem;
    color: var(--color-bright);
}
/*============ Media Queries (Medium Devices) ================== */
@media screen and (max-width: 1024px) {
    .about__container {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .about__me {
        width: 50%; 
        margin: 2rem auto 4rem; 
    }
    .about__content p {
        margin: 1rem 0 1.5;
    }
}

/*============ Media Queries (Small Devices) ================== */
@media screen and (max-width: 600px) {
   .about__me {
    width: 65%;
    margin: 0 auto 3rem;
   }
   .about__cards {
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
   }
   .about__content {
    text-align: center;
   }
   .about__content p {
    margin: 1.5rem 0;
   }
}